/* .sequencer-container {
  border-bottom: black;
  border-bottom-style: solid;
  width: 80vw;
} */

hr {
  display: block;
  margin-left: auto;
  margin: 0;
  border-color: grey;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

.lead-notes {
  font-size: 1.5em;
  height: 14.29%;
  text-align: right;
}

.drums-notes {
  font-size: 1.2em;
  height: 10%;
  text-align: right;
}

.no-gutters {
}
