
.save-button {
  color: white;
  width: auto;
  height: auto;
  font-size: 27px;
}

.Modal {
  height: 50vh;
  position: absolute;
  top: 200px;
  width: 60%;
  background-color: rgba(27, 89, 143, 0.7) !important;
  border-radius: 15px;
}

.url {
  width:52%;
  height: auto;
  margin: 200px auto;
  text-align: center;
  background-color: white;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 10px;
}

.link-text {
  color: white;
  font-size: 30px;
  position: relative;
  top: 22%;
}
