.option-bar {
  width: 65%;
  height: 90px;
  vertical-align: baseline;
  background-color: rgba(52,58,64, 0.75);
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  margin-top: 40px;
}

.options {
  align: auto;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}
