.sequencer-wrapper {
  margin: 0 auto;
  overflow-y: scroll;
  width: 90%;
}

.piano-sequencer-wrapper {
  overflow: hidden;
  margin: 0 auto;
  overflow-y: scroll;
  width: 90%;
}

.drum-sequencer-wrapper {
  overflow: hidden;
  margin: 0 auto;
  overflow-y: scroll;
  width: 90%;
}


.title {
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  transform: translate3d(0, 0, 0);

  &::after {
    content: "+";
    transition: transform .5s ease-in-out;
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 35px;
  }
  &.is-expanded {
    &::after {
      content: "-";
      transform: rotate(-360deg);
    }
  }
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s;

  &.is-expanded {
    overflow-y: scroll;
    max-height: 70vh;
  }
}

.instrument-select {
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-left: 100px;
  z-index: 10;
}

.instrument-name {
  top: 22px;
  position: relative;
}

#instrument-form{
  margin-bottom: 15px;
  height: 46px;
}

.select-instrument-label {
  float: left;
  position: relative;
  top: 10px;
  font-size: 16px;
}

.select-instrument-control {
  position: relative;
  left: 150px;
  bottom: 20px;
}

.btn-link {
  padding: 18px;
  font-size: 20px;
}
