.option-bar {
  width: 80%;
  height: 90px;
  vertical-align: baseline;
  background-color: #343A40;
  border-radius: 15px;
  opacity: 0.75;
}

.options {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
}
