@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


.App {
  text-align: center;
  font-family: 'Quantico', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#logo{
  border-radius: 20px;
  border: 2px solid white;
}

.Nav-title {
  color: white;
  font-size: 30px;
  padding-left: 20px;
}

.options {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
}

.play-button {
  font-size: 40px;
}

.stop-button {
  font-size: 40px;
}

#playback-button {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 15px;
}

.btn:focus {
  outline: none;
}
